@using DartLeague.Web.Areas.Manage.Models
@model BoardMemberEditViewModel

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="MemberId"></label>
            <select class="form-control" asp-for="MemberId" asp-items="Model.Members"></select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="PositionId"></label>
            <select class="form-control" asp-for="PositionId" asp-items="Model.Positions"></select>
        </div>
    </div>
</div>