@using DartLeague.Web.Areas.Manage.Models;
@model SeasonManagementRootViewModel<BoardMemberEditViewModel>
@{
    ViewData["Title"] = "Edit Board Member";
}

<div class="container">
    <ol class="breadcrumb">
        <li><a asp-area="Manage" asp-controller="Home" asp-action="Index">Manage League</a></li>
        <li class="active">Edit Board Member</li>
    </ol>
    <h2>Edit Board Member</h2>
    <form asp-controller="SeasonBoard" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.Partial("_seasonBoardFields", Model.Data)
        <div>
            <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o fa-lg"></i> Save</button>
            <a class="btn btn-danger" asp-controller="SeasonBoard" asp-action="Index" asp-area="Manage">Cancel</a>
        </div>
    </form>
</div>


@section scripts {
    <script type="text/javascript">
        (function (d, $) {
            var elems = d.getElementsByClassName('confirmation');
            var confirmIt = function (e) {
                if (!confirm('Are you sure?')) e.preventDefault();
            };

            for (var i = 0, l = elems.length; i < l; i++) {
                elems[i].addEventListener('click', confirmIt, false);
            }
        })(document, jQuery);
    </script>
}
