@using DartLeague.Web.Areas.Manage.Models;
@model SeasonManagementRootViewModel<SeasonTeamEditViewModel>
    @{
    ViewData["Title"] = "Add Team";
    }

    <div class="container">
        <h2>Add Team</h2>
        <form enctype="multipart/form-data" asp-controller="SeasonTeam" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Partial("_teamFields", Model.Data)
            <div>
                <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o fa-lg"></i> Add</button>
                <a class="btn btn-danger" asp-controller="SeasonTeam" asp-action="Index" asp-area="Manage">Cancel</a>
            </div>
        </form>
    </div>

