@{
    ViewData["Title"] = "Edit Sponsor";
}
<h2>Edit Sponsor</h2>
<form asp-controller="Sponsor" asp-action="Edit" method="post">
    @Html.Partial("_sponsorFields")
    <div>
        <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o fa-lg"></i> Save</button>
        <a  class="btn btn-danger" asp-area="Manage" asp-controller="Sponsor" asp-action="Index">Cancel</a>
    </div>
</form>
@section scripts{
    <script>
        (function(d){
            d.getElementsByName('name')[0].focus();
        })(document);
    </script>
}
