
@model PlayersActivitiesListViewModel
<div>  <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="width: 84px;">Name</th>
            <th>Specific Event</th>
            <th>Player Name</th>
            <th>Finished</th>
            <th width="5px"></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.PlayerActivityResults == null || !Model.PlayerActivityResults.Any())
        {
            <tr class="warning"><td colspan="5">Currently No Event Results</td></tr>
        }
        else
        {
            foreach (var result in Model.PlayerActivityResults)
            {
                <tr>
                    <td>@result.DartEventName</td>
                    <td style="vertical-align: middle">@result.SpecificEventName</td>
                    <td style="vertical-align: middle">@result.MemberName</td>
                    <td style="vertical-align: middle">@result.Finished</td>
                </tr>
            }
        }
        </tbody>
    </table> 
</div>

