
@{
    ViewData["Title"] = "Add Member";

}
<div class="container">
    <ol class="breadcrumb">
        <li><a asp-area="Manage" asp-controller="Home" asp-action="Index">Manage League</a></li>
        <li class="active">Add Member</li>
    </ol>
    <h2>Add Member</h2>
    <form asp-controller="Member" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @await Html.PartialAsync("_memberFields")
        <div>
            <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o fa-lg"></i> Add</button>
            <a class="btn btn-danger" asp-controller="Member" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>

@section scripts{
        <script>
            (function(d) {
                d.getElementsByName('FirstName')[0].focus();
            })(document);
        </script>
    }


