@model DartLeague.Web.Areas.Manage.Models.LeagueLinkViewModel

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input class="form-control input-lg" asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="radio-inline">
                <label><input type="radio" value="1" asp-for="LinkType" /> Link (url)</label>
            </div>
            <div class="radio-inline">
                <label><input type="radio" value="2" asp-for="LinkType" /> File (upload)</label>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="fileUploadPanel">
        <div class="form-group">
            <label for="linkFile">File <small>PDF</small></label>
            <input type="file" id="linkFile" name="linkFile" class="form-control" />
        </div>
    </div>
    <div class="col-md-12" id="urlPanel">
        <div class="form-group">
            <label asp-for="Url"></label>
            <input class="form-control" asp-for="Url" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>
    </div>
</div>